<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <style>
            .heading {text-align: center; display: block; }
            .blog-post{display: block;}
            .error{color:red}
            .top h2:first-child {margin: 0 10px;}
        </style>
        </head>
    <body>
                    <nav>
                        <ul id="user-account">
                            <li><a href="/login">login</a>
                            </li>
                            <li>
                                <a href="logout">logout</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/blog">all posts</a>
                            </li>
                            <li>
                                <a href="/newpost">new post</a>
                            </li>
                        </ul>
                    </nav>

        {% block content %}
        {% endblock %}

    </body>
    </html>