{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div>
<h1>blog posts</h1>

{% if blogs|length == 0 %}
   <p>No blogs yet</p>
 {% else %}


    {% for blog in blogs %}
        <h1><a href="/blog?id={{blog.id}}">{{ blog.title }}</a></h1>

        <h2 class="blog-post-content">{{ blog.body }}</h2>
        <h3>Written by:</h3>
         <h2><a href="{{ url_for('blog', user=blog.owner.id )}}" class="author">{{ blog.owner.username }}</a></h2>

          <br>
     <hr/>
     {% endfor %}
     <hr/>
    
{% endif %}

    </main>
{% endblock %}